.fileUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploadFileSection {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploadFileSection label {
  border: 0px solid #000;
  border-radius: 0px;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  cursor: pointer;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadFileSection input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0px;
  height: 100%;
}

.fileUploadContainer a {
  margin-bottom: 2rem;
  border: none;
  color: #000;
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.fileUploadContainer #fileName {
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .uploadFileSection label,
  .uploadFileSection input {
    font-size: 0.75rem;
    box-sizing: border-box;
  }
}
